#customer-pane div.fieldset-wrapper,
#customer-pane #user-login {
  float: left;
  width: 45%;
}

#customer-pane #user-login {
  margin-right: 3%;
  padding-right: 2%;
  border-right: 1px solid #ccc;
}

#customer-pane #user-login input[type="text"],
#customer-pane #user-login input[type="password"] {
  width: 80%;
}

#customer-pane #user-login a.password-vergessen {
  font-size: 0.85em;
  margin-top: 1em;
  display: block;
}

#customer-pane #user-login div.description.user-login,
#customer-pane div.fieldset-wrapper > div.description {
  border: 1px solid #f0c020;
  background: #ffd;
  color: #220;
  padding: 10px;
}